*{
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
    
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}
body{
    background-color: white;
}


#navbar{
    display: flex;
    justify-content: center;
    margin: 50px;
}
#navbar::before{
    content: "";
    background: url("./images/pexels-kasuma-908644.jpg") no-repeat center center/cover ;
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: .8;
    top: 0px;
    left: 0px;

}
#navbar ul{
    display: flex;
    /* text-align: center; */
    
}
#navbar ul li{
    
    list-style: none;
    font-size: 1.2em;
}    
#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    /* margin: auto; */
    /* border: 2px solid black;  */
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;

}
#navbar ul li a:hover{
    color:black;
    display: block;
    background-color: rgb(57, 75, 87);
    /* animation: forwards;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: normal; */
}
.menu{
    
    display: flex;
    position: relative;
   align-items: center;
    /* justify-content: center; */
}  
.menu::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
    top: 0px;
    left: 0px;
}
.menu ul{
    display: flex;
    /* text-align: center; */
    
}
.menu ul li{
    
    list-style: none;
    font-size: 1.2em;
}    
.menu ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    /* margin: auto; */
    /* border: 2px solid black;  */
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;

}
.menu ul li a:hover{
    color:black;
    display: block;
    background-color: rgb(57, 75, 87);
    /* animation: forwards;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: normal; */
}

#services .box{
    /* border: 2px solid brown;
    border-radius: 20px; */
    text-align: center;
    padding: 41px;
    /* display: block; */
    margin: auto;
    background-color: rgb(217,217,217);
    margin: 25px 6px;
    padding: 30px;
    border-radius: 20px;
    /* text-align: center; */
}